@font-face {
	font-family: Shorthalt;
	src: url('Shorthalt.ttf');
}
@font-face {
	font-family: GoldenRatio;
	src: url('GoldenRatio.ttf');
}

h1{
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 0 0;
	text-align: center;
	color: #424242;
}
	h1:hover{
		color: 424242;
	}

h1{
	font-size: 8em;
	font-family: Shorthalt;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.active-link{
	color: #a7cee5;
	text-decoration: none;
}
.link{
	color: black;
	text-decoration: none;
}

a:hover,
a:active{
	color: #a7cee5;
}


body{
/*	width: 100%;
	margin: 0;*/
	background: #f9f8f8;
}
/* you can put your code all in one line like above */
#header{
	margin: 0 auto;
	width: 700px;
	height: 150px;
	border-radius: 3px;
	padding: 20px;
}
#nav{
	font-family: GoldenRatio;
}
	#nav ul{
		text-align: center;
	}
		#nav ul li{
			display: inline;
			padding-left: 25px;
			padding-right: 25px;
		}
#content{
	width: 800px;
	padding-left: 50px;
	padding-right: 50px;
	height: 550px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
/*	border:1px solid red;
*/}
.columnLeft{
	width: 200px;
	height: 550px;
	padding-left: 10px;
	padding-right: 10px;
	margin:0 auto;
	margin-left: -50px;
/*	border:1px dotted red;
*/	float: left;
	display: block;
	font-family: GoldenRatio;
}
#profile-picture{
	margin-top: 80px;
}
.columnRight{
	width: 630px;
/*	height: 550px;
	border:1px dotted red;*/
	margin: 0 auto;
	margin-right: -70px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	display:block;
	float: right;
	font-family: GoldenRatio;
}
	.columnRight h2{
		font-size: 1.2em;
	}
	.columnRight b{
		font-size: .8em;
	}
	.columnRight p{
		font-size: .75em;
	}

html {
	position: relative;
	min-height: 100%;
}
#footer{
/*	border-top: 3px #ccc dotted;
	border-bottom: 3px #ccc dotted;*/
	display: block;
	margin-bottom: 2px;
	margin-top: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 75%;
		color: grey;
	}

